.cg-wrap coords.ranks {
    transform: translateY(-2%) !important;
}

coord {
    font-size: 20px;
}



@media (max-width: 1090px) {
    
    #vizRoot {
        width: min-content;
    }
}